# Compiled object files
*.o
*.obj

# Executable files
*.exe
a.out

# Backup files
*~
*#

# Temporary files
*.tmp
.DS_Store

# org files
*.org

# Build directories
build/
Debug/
Release/
misk/
Latex/
a.out.dSYM/
.vscode/

